__pycache__
.ipynb_checkpoints
.dropbox
Icon?
*.DS_Store
test
*.x
*.hdf
*.xyz
*.pkl
*.png
*.pt
*.pdf
*.svg
*.pth
*.tensor
*.txt

!requirements.txt
credentials.py
utils/query_snowflake.py
gat_autoencoder/data/
gat_autoencoder/categorical_model/runs/

cora/

artifacts/


venv2/
venv10
venv/

gat/
property_data_correction/
gat_autoencoder/runs/
.idea/

data_generator.py
figures

.env_claude